body {
    background-color: #f7f9f7;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div .login-container {
    background: #ffffff;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 30px;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 30px;
}

.form-control:focus {
    box-shadow: none;
    border-color: #007bff;
}

.btn-custom {
    background-color: #007bff;
    border-color: #007bff;
    transition: all 0.3s ease;
}

.btn-custom:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.login-footer {
    text-align: center;
    margin-top: 20px;
}

.login-footer a {
    color: #007bff;
}

.login-footer a:hover {
    text-decoration: underline;
}

